:root {
  --main-color: #fff;
  --text-color: #000;
  --brand-color: #0094f9;
  --brand-color-dark: #00447c;
  --dark-background-scheme: #001221
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* ===================================================================
 * # typography & general theme styles - (_document-setup.scss)
 * 
 * ------------------------------------------------------------------- */
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "domine-regular", serif;
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
}

p{
  line-height: 1.7;
}

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 6rem;
  margin-bottom: 1.8rem;
} */
/* 
@media only screen and (max-width:600px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 5.1rem;
  }
} */

/* h5, .h5, h6, .h6 {
  margin-top: 4.2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width:600px) {
  h5, .h5, h6, .h6 {
    margin-top: 3.6rem;
    margin-bottom: 0.9rem;
  }
} */

h1, .h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  letter-spacing: -.1rem;
}



h2, .h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3, .h3 {
  font-size: 2.4rem;
  line-height: 1.1;
}

h4, .h4 {
  font-size: 2.1rem;
  line-height: 1.286;
}

h5, .h5 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h6, .h6 {
  font-size: 1.3rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .16rem;
}

@media only screen and (max-width:600px) {
  h1, .h1 {
    font-size: 2.5rem;
    letter-spacing: -.07rem;
  }
  h2, .h2 {
    font-size: 2.0rem;
    line-height: 1.1;
  }
  
  h3, .h3 {
    font-size: 1.6rem;
    line-height: 1.1;
  }
  
  h4, .h4 {
    font-size: 1.4rem;
    line-height: 1.286;
  }
  
  h5, .h5 {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  
  h6, .h6 {
    font-size: 1.0rem;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: .16rem;
  }
  

}

.p-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}
.p-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}


section {
  max-width: 1280px;
  margin: auto;
  /* display: "flex";
  justify-content: space-between;
  align-items: center; */
  /* background: "#efefef"; */
  padding: 25px;
  margin-bottom: 5rem;
}

.Width-1040 {
  width: 100%;
  max-width: 1040px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  position: relative;
}

.menu-links {
font-weight: 600;
color: var(--brand-color-dark);
display: flex;
    gap: 25px;
    align-items: center;
}



.menu-links a:hover {
  text-decoration: underline;
  transform: rotate(180);
  }

  .active{
    color: var(--brand-color)
  }
.hero-info {
  max-width: 60%
}

@media screen and (max-width: 698px) {
  .hero-image{
    position: absolute;
    opacity: 0.2;
    right: 10px;
    z-index: -10;
    top: 70px;
}
.p-flex{
  display: flex;
  flex-direction: column;
}
.hero-info{
  max-width: 100%;
}
}

@media screen and (min-width: 1024px) {
  .w-45{
    width: 45%;
  }
  
  .w-55 {
    width: 55%;
  }  
}

@media screen and (max-width: 960px){

.col-reverse{
  flex-direction: column-reverse;
}
}

.About-Cards {
  display: grid;
    gap: 2em;
    grid-auto-rows: minmax(100px,auto);
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    padding: 2em 0;
}

.About-Cards .p-card{
  padding: 2em;
  text-transform: uppercase;
  border: solid 1px rgba(176, 176, 176, 0.347); 
  color: var(--brand-color-dark);
  font-weight: 500;
  /* border: solid 1px var(--brand-color);  */

  min-height: 180px;
  box-shadow: rgba(0, 0, 0, 0.731) 0px 0px 25p
}

/* .about-section{
  color: var(--brand-color-dark);
} */
.card-icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--brand-color-dark);
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.p-card:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  background-color: #008aec21;
}

.services-card {
  position: relative;
  margin: 100px auto;
}

.services-card h3 {
  /* color: var(--brand-color-dark); */
  font-family: "metropolis-medium", sans-serif;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  /* background: linear-gradient(60deg, red, yellow, red, yellow, red); */
  /* background: linear-gradient(45deg, #c8e9ff, #0095f9); */
  background: radial-gradient( circle farthest-corner at center center, #0162b1, #00457c ) no-repeat;  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-image img {
  object-fit: cover;
}


.contact-section {
  /* background-color: #68c1fcac; */
  /* background-image: linear-gradient(45deg, transparent, #68c1fcac); */
  background-image: linear-gradient(146deg, #68c1fc4d, #0162b1e0);
  padding: 50px;
}

.image-container{
  border-radius: 50%;
  border: 5px dotted #fff;
  box-sizing: border-box;
  display: flex;
}

.contact-section img {
  
    object-fit: cover;
    max-width: -webkit-fill-available;
    border-radius: 50%;

}

button {
    padding: 1.5em;
    border-radius: 0;
    color: #FFFFFF;
    background: var(--brand-color);
    border-color: #008aec; 
    border: 0.2rem solid;
    text-transform: uppercase;
    cursor: pointer;
}

.subtitle {
  position: relative;
  padding-left: 55px;
  font-family: "metropolis-medium", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.286;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--brand-color-dark);
}
.subtitle::before {
  content: "";
    display: block;
    background-color: rgb(0 138 236 / 79%);
    width: 40px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
}




button:hover {
  background-color: var(--brand-color-dark);
}
a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

.s-home {
  z-index: 501;
 
  height: 100%;
  width: 100%;
  position: relative; 
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;  
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
.info-is-visible .s-home {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}


/* ===================================================================
 * # info - (_site-layout.scss) 
 *
 * ------------------------------------------------------------------- */
 .s-info {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background-scheme);
  color: rgba(255, 255, 255, 0.3);
  padding: 8rem 1rem 9rem;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}

.s-info a {
  color: #FFFFFF;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.s-info a:hover,
.s-info a:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.s-info h1,
.s-info h3 {
  margin-top: 0;
  color: #FFFFFF;
}

.s-info h1 {
  font-size: 3rem;
  line-height: 1.219;
  margin-bottom: 4.2rem;
  position: relative;
}

.s-info h1::before {
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  background-color: rgba(0, 122, 236, 0.725);
  position: absolute;
  left: 3px;
  top: -3.6rem;
}

.s-info h3 {
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.4rem;
  line-height: 1.286;
  color: #008aec;
}

.info-wrapper {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition: transform 0.7s cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.info-contact {
  padding-top: 3rem;
  color: #FFFFFF;
}

.info-block {
  margin-bottom: 4.5rem;
}

.info-social {
  list-style: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.info-social:after {
  content: "";
  display: table;
  clear: both;
}

.info-social li {
  padding: .6rem 1.2rem .6rem 0;
  line-height: 3rem;
  width: 50%;
  float: left;
}

.info-social a {
  color: #FFFFFF;
  border: none !important;
}

.info-social i {
  font-size: 2.4rem;
  width: 3.6rem;
  float: left;
  position: relative;
  top: .3rem;
}

.info-social span {
  display: inline-block;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.info-social a:hover span,
.info-social:focus span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info-is-visible .s-info {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.info-is-visible .info-wrapper {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
}


/* ------------------------------------------------------------------- 
 * ## info toggle  - (_site-layout.scss)
 * ------------------------------------------------------------------- */
 .info-toggle {
  z-index: 502;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
  font-family: "metropolis-medium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: white;
  height: 42px;
  width: 42px;
  line-height: 42px;
  position: fixed;
  right: 25px;
  top: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.info-toggle:hover,
.info-toggle:focus {
  color: var(--dark-background-scheme);
}

.info-toggle::after {
  content: "Menu";
  display: block;
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  padding-left: 12px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.info-menu-icon {
  display: block;
  width: 20px;
  height: 1px;
  margin-top: -1px;
  position: absolute;
  left: 10px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: var(--brand-color);
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.info-menu-icon::before,
.info-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.info-menu-icon::before {
  top: -7px;
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}

.info-menu-icon::after {
  bottom: -7px;
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

.info-is-visible .info-menu-icon {
  background-color: var(--brand-color);
}

.info-is-visible .info-menu-icon::before,
.info-is-visible .info-menu-icon::after {
  background-color: #008aec;
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.info-is-visible .info-menu-icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.info-is-visible .info-menu-icon::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.info-is-visible .info-toggle::after {
  content: "close";
}
/* .info-is-visible::after {
  content: "close";
} */

/* ------------------------------------------------------------------- 
 * responsive:
 * info
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1400px) {
  .s-info h1 {
    font-size: 6rem;
  }

}

@media only screen and (max-width:1200px) {
  /* .info-toggle {
    left: 40px;
  } */

  .s-info h1 {
    font-size: 5.4rem;
  }

}

@media only screen and (max-width:1100px) {
  .s-info h1 {
    font-size: 5.1rem;
  }

}

@media only screen and (max-width:1000px) {
  .s-info h1 {
    font-size: 4.8rem;
  }

  .info-social li {
    width: 100%;
  }



}

@media only screen and (min-width:1000px) {
    .info-toggle {
    display: none;
  }

}

@media only screen and (max-width:950px) {
  .info-wrapper {
    max-width: 700px;
  }

  .info-main,
  .info-contact {
    width: 100%;
    float: none;
    clear: both;
  }

  .info-social li {
    width: 33.33333%;
  }

}

@media only screen and (max-width:800px) {


}

@media only screen and (max-width:600px) {
  .s-info h1 {
    font-size: 4.2rem;
  }

}

@media only screen and (max-width:500px) {
  .s-info h1 {
    font-size: 3.8rem;
  }

  .info-social li {
    width: 50%;
  }

}

@media only screen and (max-width:400px) {
  .info-toggle {
    right: 30px;
  }

  .info-toggle::after {
    display: none;
  }

  .s-info h1 {
    font-size: 3.5rem;
  }

  .info-social li {
    width: auto;
  }

  .info-social span {
    display: none;
  }

}


@media screen and (max-width: 1020px) {

  .menu-links{
    width: 100vw;
      position: absolute;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      background: var(--dark-background-scheme);
      translate: -200vw;
  }
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark-background-scheme);
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color:#fff 
  }

  .menu-links {

    color: white;

    }

  .subtitle{
    color: var(--brand-color)
  }

  .subtitle::before {
    background-color: var(--brand-color);
  }

  .About-Cards .p-card{
    color: var(--brand-color);
  }
  .services-card h3{
    color: var(--brand-color)
  }
  .services-card h3 {
    /* color: var(--brand-color-dark); */
    background: linear-gradient(45deg, #c8e9ff, #0095f9);
    -webkit-text-fill-color: transparent;
    font-family: "metropolis-medium", sans-serif;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .card-icons{
    background-color: var(--brand-color);
  }

.contact-section {
  /* background-color: #68c1fcac; */
  background-image: linear-gradient(45deg, transparent, #68c1fcac);
}
}


