:root {
  --main-color: #fff;
  --text-color: #000;
  --brand-color: #0094f9;
  --brand-color-dark: #00447c;
  --dark-background-scheme: #001221
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* ===================================================================
 * # typography & general theme styles - (_document-setup.scss)
 * 
 * ------------------------------------------------------------------- */
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "domine-regular", serif;
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
}

p{
  line-height: 1.7;
}

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 6rem;
  margin-bottom: 1.8rem;
} */
/* 
@media only screen and (max-width:600px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 5.1rem;
  }
} */

/* h5, .h5, h6, .h6 {
  margin-top: 4.2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width:600px) {
  h5, .h5, h6, .h6 {
    margin-top: 3.6rem;
    margin-bottom: 0.9rem;
  }
} */

h1, .h1 {
  font-size: 3.6rem;
  line-height: 1.1;
  letter-spacing: -.1rem;
}



h2, .h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3, .h3 {
  font-size: 2.4rem;
  line-height: 1.1;
}

h4, .h4 {
  font-size: 2.1rem;
  line-height: 1.286;
}

h5, .h5 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h6, .h6 {
  font-size: 1.3rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .16rem;
}

@media only screen and (max-width:600px) {
  h1, .h1 {
    font-size: 2.5rem;
    letter-spacing: -.07rem;
  }
  h2, .h2 {
    font-size: 2.0rem;
    line-height: 1.1;
  }
  
  h3, .h3 {
    font-size: 1.6rem;
    line-height: 1.1;
  }
  
  h4, .h4 {
    font-size: 1.4rem;
    line-height: 1.286;
  }
  
  h5, .h5 {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  
  h6, .h6 {
    font-size: 1.0rem;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: .16rem;
  }
  

}

.p-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}
.p-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}


section {
  max-width: 1280px;
  margin: auto;
  /* display: "flex";
  justify-content: space-between;
  align-items: center; */
  /* background: "#efefef"; */
  padding: 25px;
  margin-bottom: 5rem;
}

.Width-1040 {
  width: 100%;
  max-width: 1040px;
}

.hero-info {
  max-width: 60%
}

@media screen and (max-width: 698px) {
  .hero-image{
    position: absolute;
    opacity: 0.2;
    left: 10px;
    z-index: -10;
    top: 70px;
}
.p-flex{
  display: flex;
  flex-direction: column;
}
.hero-info{
  max-width: 100%;
}
}

@media screen and (min-width: 1024px) {
  .w-45{
    width: 45%;
  }
  
  .w-55 {
    width: 55%;
  }  
}

@media screen and (max-width: 960px){

.col-reverse{
  flex-direction: column-reverse;
}
}

.About-Cards {
  display: grid;
    gap: 2em;
    grid-auto-rows: minmax(100px,auto);
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    padding: 2em 0;
}

.About-Cards .p-card{
  padding: 2em;
  text-transform: uppercase;
  border: solid 1px rgba(176, 176, 176, 0.347); 
  color: var(--brand-color-dark);
  font-weight: 500;
  /* border: solid 1px var(--brand-color);  */

  min-height: 180px;
  box-shadow: rgba(0, 0, 0, 0.731) 0px 0px 25p
}

/* .about-section{
  color: var(--brand-color-dark);
} */
.card-icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--brand-color-dark);
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.p-card:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  background-color: #008aec21;
}

.services-card {
  position: relative;
  margin: 100px auto;
}

.services-card h3 {
  /* color: var(--brand-color-dark); */
  font-family: "metropolis-medium", sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  /* background: linear-gradient(60deg, red, yellow, red, yellow, red); */
  background: linear-gradient(45deg, #c8e9ff, #0095f9);
  /* background: radial-gradient( circle farthest-corner at center center, white, #111 ) no-repeat; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-image img {
  object-fit: cover;
}


.contact-section {
  /* background-color: #68c1fcac; */
  background-image: linear-gradient(45deg, transparent, #68c1fcac);
  padding: 50px;
}

.image-container{
  border-radius: 50%;
  border: 5px dotted #fff;
  box-sizing: border-box;
  display: flex;
}

.contact-section img {
  
    object-fit: cover;
    max-width: -webkit-fill-available;
    border-radius: 50%;

}

button {
    padding: 1.5em;
    border-radius: 0;
    color: #FFFFFF;
    background: var(--brand-color);
    border-color: #008aec; 
    border: 0.2rem solid;
    text-transform: uppercase;
    cursor: pointer;
}

.subtitle {
  position: relative;
  padding-left: 55px;
  font-family: "metropolis-medium", sans-serif;
  font-size: 1.4rem;
  line-height: 1.286;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--brand-color-dark);
}
.subtitle::before {
  content: "";
    display: block;
    background-color: (0 138 236 / 79%);
    width: 40px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
}




button:hover {
  background-color: var(--brand-color-dark);
}
a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark-background-scheme);
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color:#fff 
  }

  .subtitle{
    color: var(--brand-color)
  }

  .subtitle::before {
    background-color: var(--brand-color);
  }

  .About-Cards .p-card{
    color: var(--brand-color);
  }
  .services-card h3{
    color: var(--brand-color)
  }

  .card-icons{
    background-color: var(--brand-color);
  }
}


